# build output
dist/
.output/

# dependencies
node_modules/

# Astro
.astro/

# env files
.env
.env.*
!.env.example

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*
